* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: #e9e9e9;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
  font-size: 40pt;
  font-weight: bold;
}