.header,
.item,
.footer {
  display: flex;
  align-items: center;
  height: 50px;
}
.header {
  background-color: #093954;
  color: #fff;
}

.item:not(:last-child) {
  border-bottom: 1px solid #333;
}

.check {
  width: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-right: 1px solid #333;
}
.title {
  width: 350px;
  padding: 10px;
  border-right: 1px solid #333;
}
.link {
  flex: auto;
  padding: 10px;
  border-right: 1px solid #333;
}
.add {
  width: 100px;
}
.edit {
  width: 20px;
  padding: 7px 15px;
  border-right: 1px solid #333;
}
.delete {
  width: 20px;
  padding: 15px;
}

.check img,
.edit img,
.delete img {
  width: 20px;
  height: 20px;
}
.edit img:hover,
.delete img:hover {
  cursor: pointer;
}

.header .check,
.header .title,
.header .link,
.header .edit {
  text-align: center;
  border-color: #fff;
}

.footer {
  background-color: #ccc;
}
.add {
  position: relative;
}
.add::after {
  content: '+';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #666;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.add:hover::after {
  cursor: pointer;
}