.files {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.files > .item {
  width: 100px;

  margin: 20px;
}
.files > .item > img {
  width: 100px;
  height: 100px;
}
.files > .item > a {
  width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
}
.files > .item:hover {
  cursor: pointer;
}