#create-article {
  width: 100%;
}
#create-article .tags {
  margin: 20px;
}
#create-article .tags .header {
  padding: 5px;
  background-color: #ccc;
}
#create-article .tags .item {
  display: block;
  padding: 5px;
}
#create-article .tags .item:hover {
  cursor: pointer;
  background-color: #eee;
}
#create-article .tags .add-new-tag {
  padding: 5px;
  background-color: #ccc;
}