article {
  margin-bottom: 10px;

  position: relative;

  box-shadow: 0 0 15px rgb(168, 172, 180);
}
article:last-child {
  margin: 0;
}
article > .header {
  min-height: 50px;
  padding: 0 10px 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(112, 152, 233, 0.5);

  font-family: sans-serif;
  font-weight: bold;
  font-size: 16pt;
  text-transform: uppercase;
  color: #141f3f;
}
article > .tags {
  display: flex;
  justify-content: flex-start;

  padding: 5px;

  border-bottom: 1px solid rgba(112, 152, 233, 0.5);
}
article > .tags > .tag {
  height: 15px;
  margin-right: 5px;
  padding: 0 7px 3px 7px;

  position: relative;

  border-radius: 5px;
  border: 1px solid green;
  background-color: rgb(69, 179, 69);
  color: #fff;
}
article > .text {
  padding: 15px;
  font-size: 13pt;
}
article > .footer {
  display: flex;
  justify-content: flex-end;

  margin: 0 20px 5px 20px;
  padding: 5px;

  font-size: 10pt;
  font-weight: bold;
  color: rgb(55, 107, 209);

  border-top: 2px solid rgba(112, 152, 233, 0.3);
}
article > .footer > div {
  margin-left: 30px;
  position: relative;
}
article > .footer > .views::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url('../images/view.png');
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center;

  position: absolute;
  left: -20px;
}
article > .footer > .likes::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url('../images/like.png');
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center center;

  position: absolute;
  left: -20px;
}
article > .header > .published {
  display: flex;
  align-items: stretch;
}
article > .header > .published > .day {
  width: 30px;
  background-color: #CC9933;
  padding: 3px;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14pt;
  text-align: center;
}
article > .header > .published > .month {
  background-color: #0099CC;
  padding: 3px;
  color: #fff;
  font-family: sans-serif;
  font-size: 12pt;
}