/* VARIABLES */
:root {
  --bg-pink: rgba(243, 17, 243, 0.5);
}

/* ALL ELEMENTS */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}

/* header */
header{
  width: 100%;
  height: 400px;

  position: relative;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
header > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}
header > .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-family: Calibri;
  font-weight: bold;
  text-shadow: 1px 1px 1px black, 0 0 1em black;
}
header > .text > div {
  text-align: center;
}
header > .text > .title {
  font-size: 40pt;
}
header > .text > .subtitle {
  font-size: 20pt;
}
header > .photo {
  width: 200px;
  height: 200px;

  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 15px #000;

  overflow: hidden;
}

/* search-panel */
.search-panel {
  width: 100%;
  
  display: flex;
  justify-content: center;

  padding: 50px 0;
}
.search-panel > .search {
  width: 500px;
  height: 30px;

  display: flex;
  justify-content: space-between;

  border: 1px solid grey;
}
.search-panel > .search > .input-text {
  width: 75%;
  height: 100%;

  border: none;
  margin: 0;

  font-size: 20px;
  text-align: center;
}
.search-panel > .search > .input-text:focus {
  border: none;
  box-shadow: inset 0 0 5px #00aedb;
}
.search-panel > .search > .search-button {
  width: 25%;
  height: 100%;

  border: none;
  border-left: 1px solid grey;
  background-color: #00aedb;

  font-family: Calibri, serif;
  font-weight:bold;
  color: white;
  font-size: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-panel > .search > .search-button:hover {
  cursor: pointer;
}
.search-panel > .search > .search-button:active {
  border: 1px solid #fff;
}

/* menu */
.main nav {
  margin-bottom: 30px;
}
.menu {
  width: 100%;
  height: 50px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.menu > .item {
  height: 100%;

  display: flex;
  align-items: center;

  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  padding: 0 5px;

  transition: font 0.3s ease;
}
.menu > .item:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.6);
}
.menu > .item:nth-child(1) {background-color: #00aedb;}
.menu > .item:nth-child(2) {background-color: #8cc63f}
.menu > .item:nth-child(3) {background-color: #5261ac;}
.menu > .item:nth-child(4) {background-color: #00aedb;}
.menu > .item:nth-child(5) {background-color: #f78f1d;}
.menu > .item:nth-child(6) {background-color: #ff0000;}
.menu > .item:nth-child(7) {background-color: #00aedb;}
.menu > .item:nth-child(8) {background-color: #e1088e;}

/* main */
.main {
  width: 100%;

  margin: 0;
  position: relative;
  padding-bottom: 30px;

  background-color: #e9e9e9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main > section {
  width: 90vw;
  padding: 30px;

  background-color: #fff;
}
.main > section > section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* content */
.main > section > section > .content {
  width: 65%;

  display: flex;
  flex-direction: column;
}

/* sitebar */
.main .sitebar {
  width: 30%;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
}
.main .sitebar > section > .header {
  height: 40px;

  padding-left: 30px;

  display: flex;
  align-items: center;

  font-family: Calibri, serif;
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;

  background-color: #5261ac;
}
.main .sitebar > section > .content {
  height: 200px;
  margin: 20px 0;

  border: 1px solid grey;
}

/* media */
@media screen and (max-width: 1100px) {
  header > .text > .title {font-size: 35pt;}
}
@media screen and (max-width: 1000px) {
  header > .text > .title {font-size: 30pt}
}
@media screen and (max-width: 900px) {
  header > .text > .title {font-size: 25pt;}
  header > .text > .subtitle {font-size: 15pt;}
}
@media screen and (max-width: 768px) {
  header {flex-direction: column-reverse;}
  .menu {
    height: auto;
    flex-direction: column;
  }
  .menu > .item {
    height: auto;
    padding: 5px;
  }
  .main > section > section {
    flex-direction: column;
  }
  .main > section > section > .content {width: 100%;}
  .main .sitebar {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 30px;
  }
  .main .sitebar section {width: 49%;}
}
@media screen and (max-width: 576px) {
  header > .text > .title {font-size: 30pt;}
  .search-panel > .search {width: 100%;}
  .search-panel > .search > .input-text {width: 87%;}
  .search-panel > .search > .search-button {width: 13%;}
  .search-panel > .search > .search-button > .text {display: none;}
  .main .sitebar > section {width: 100%;}
}
@media screen and (max-width: 400px) {
  header > .text > .title {font-size: 25pt;}
  header > .text > .subtitle {font-size: 15pt;}
}